<footer>
    <div class="foot-cont">
        <div class="left">
            <ul class="link-lists">
                <li><a href="" class="fw-medium">개인정보취급방침</a></li>
                <li><a href="">이메일 무단수집 거부</a></li>
            </ul>
            <ul class="comp-infos">
                <li>
                    <p class="tit">주소</p>
                    <p class="cont">(10497)경기도 고양시 덕양구 화정로53, 701호(화정동, 새롬프라자)</p>
                </li>
                <li>
                    <p class="tit">연락처</p>
                    <p class="cont">
                        <span>TEL : 02-6956-0297</span>
                        <span>FAX : 02-6956-0294</span>
                    </p>
                </li>
                <li>
                    <p class="tit">이메일</p>
                    <p class="cont">kwjmj@kawoolaw.com</p>
                </li>
                <li>
                    <p class="tit">사업자등록번호</p>
                    <p class="cont">895-85-01063</p>
                </li>
                <li>
                    <p class="tit">대표변호사</p>
                    <p class="cont">이경환</p>
                </li>
            </ul>
            <p class="copyright">Copyright©2021 법무법인 가우 All Rights Reserved.</p>
        </div>
        <div class="right">
            <p class="logo"><img src="/images/logo.png" alt="법무법인 가우"></p>
            <p class="cont">
                법무법인 가우는 '아름다운 벗'입니다. <br class="ex">
                고객의 마음으로 업무를 진행하고 고객과 함께 <br>
                성장하며 최상의 결과를 얻을 때까지 늘 고객의 곁에 <br>
                있는 법무법인 가우입니다.
            </p>
        </div>
    </div>
</footer>